<h3>"<%= request.params[:word] %>" tweets near you:</h3>

<ul>
  <% @tweets.each do |tweet| %>
    <li>

      <%= image_tag(tweet["profile_image_url"]) %>
      <strong>@<%= tweet["from_user"] %></strong>



      <%= tweet["text"] %>
    </li>
  <% end %>
</ul>